<div class="table-interactive-options" tink-shift-sort>
  <!-- arrows to sort the columns -->
  <div class="table-interactive-sort">
    <button type="button" class="btn-borderless" data-ng-disabled="selected.value<1" data-ng-click="arrowUp()"><i class="fa fa-arrow-up"> </i></button>
    <button type="button" class="btn-borderless" data-ng-disabled="selected.value<0 || selected.value === tinkHeaders.length-1" data-ng-click="arrowDown()"><i class="fa fa-arrow-down"></i></button>
  </div>
  <!-- checkboxlist in pop-up-menu -->
  <ul data-ng-model="tinkHeaders" class="table-interactive-cols"> <!-- data-ng-if="header.alias || !header.disabled" -->
    <li data-ng-repeat="header in tinkHeaders">
      <div class="checkbox is-selectable is-draggable" data-ng-class="{selected:selected.value===$index}">
        <input data-ng-disabled="header.disabled === true" type="checkbox" data-ng-model="header.checked" id="t-{{$index}}{{header.alias}}" name="t-{{$index}}{{header.alias}}" value="{{header.alias}}" checked="">
        <label for="t-{{$index}}{{header.alias}}"><span class="draggable-elem" data-ng-class="{selected:selected.value===$index}" data-ng-click="select($event,$index)">
          <span data-ng-if="header.alias && !header.sortalias">{{header.alias}}</span>
          <span data-ng-if="header.alias && header.sortalias"><em>{{header.sortalias}}</em></span>
          <span data-ng-if="!header.alias && !header.sortalias">—</span>
          <span data-ng-if="!header.alias && header.sortalias"><em>{{header.sortalias}}</em></span>
        </span></label>
      </div>
    </li>
  </ul>

  <div class="table-interactive-sort">
    <!-- save / cancel button in pop-up-menu -->
    <button type="button" class="btn-xs" data-ng-click="close()">Sluiten</button>
  </div>
</div>
