<div>
  <div class="bar table-interactive-bar">

    <ul data-ng-if="!actionConf.menu" class="bar-left table-interactive-actions">
      <li data-ng-if="(masterObject().length + subObject().length) > 0" data-ng-repeat="action in tinkActions | orderBy:'+order' | filter: { master: true } | tinkActionFilter: tinkActions : 'master'">
        <button type="button" class="btn-sm" data-ng-disabled="elemDisabled(action)" data-ng-click="actionCallBack(action)">
          <i class="fa {{action.icon}} fa-fw"></i>
          <span>{{action.name}}</span>
        </button>
      </li>
      <li class="hr" data-ng-if="hasActions() && masterObject().length > 0 && subObject().length > 0"></li>
      <li data-ng-repeat="action in tinkActions | orderBy:'+order' | tinkFilterFalse :{}: 'master' |tinkActionFilter: tinkActions ">
        <button type="button" class="btn-sm" data-ng-disabled="elemDisabled(action)" data-ng-click="actionCallBack(action)">
          <i class="fa {{action.icon}} fa-fw"></i>
          <span>{{action.name}}</span>
        </button>
      </li>
      <li data-ng-if="MoreActions().length > 0" tink-popover tink-popover-group="option-table" tink-popover-template="templates/actions.html">
        <span>
          <button type="button" class="btn-sm" data-ng-disabled="elemDisabled(action)">
            <i class="fa fa-ellipsis-h fa-fw"></i>
            <span>Meer acties</span>
          </button>
        </span>
      </li>
    </ul>
    <ul  data-ng-if="actionConf.menu" class="bar-left table-interactive-popover-actions">
      <li ng-if="(masterObject().length + subObject().length) > 0">
        <button type="button" class="btn-sm" tink-popover tink-popover-group="option-table-1"  tink-popover-template="templates/actions.html">Acties <i class="fa fa-caret-down"></i></button>
      </li>
    </ul>

    <ul class="bar-right">
    <li data-ng-repeat="action in tinkActions | tinkFilterFalse: {alwaysEnabled:true} : 'notSmall'  | orderBy:'+order'">
        <button type="button" class="btn-sm" data-ng-click="actionCallBack(action)"  tink-tooltip="{{action.name}}" tink-tooltip-align="top">
          <i class="fa {{action.icon}} fa-fw"></i>
        </button>
      </li>
      <li data-ng-repeat="action in tinkActions | tinkFilterFalse: { alwaysEnabled: true,notSmall:true}  | orderBy:'+order'">
        <button type="button" class="btn-sm" data-ng-click="actionCallBack(action)">
          <i class="fa {{action.icon}} fa-fw"></i>
          <span>{{action.name}}</span>
        </button>
      </li>
      <li data-ng-if="tinkAllowColumnReorder !== false">
        <button type="button" class="btn-sm" tink-popover tink-popover-group="option-table" tink-popover-template="templates/columns.html">Kolommen <i class="fa fa-caret-down"></i></button>
      </li>
    </ul>

  </div>

  <div data-ng-transclude></div>
</div>
