<div class="table-sort-options" >
  <div class="table-sort-info">
    <strong>{{tinkTotalItems > 0 ? (tinkItemsPerPage*(tinkCurrentPage-1)+1 | number:0) : '0'}} - {{tinkItemsPerPage*tinkCurrentPage | limitNum:tinkTotalItems | tinkMin:0 | number:0}}</strong> van {{tinkTotalItems | tinkMin:0 | number:0}}

    <div class="select">
      <select data-ng-change="ctrl.perPageChange()" data-ng-model="tinkItemsPerPage" ng-options="o as o for o in ctrl.itemsPerPage()">>

      </select>
    </div> items per pagina
  </div>

  <div class="table-sort-pagination">
    <ul class="pagination">
      <li class="prev" data-ng-class="{disabled:tinkCurrentPage===1}"  data-ng-click="tinkCurrentPage===1 || ctrl.setPrev()" ng-disabled="tinkCurrentPage===1"><a href="" title=""><span>Vorige</span></a></li>
      <li data-ng-class="{active:tinkCurrentPage===1}" data-ng-click="ctrl.setPage(1)"><a href="" title="">1</a></li>
      <li data-ng-repeat="pag in ctrl.calculatePages() track by $index" data-ng-class="{active:pag===tinkCurrentPage}" data-ng-click="pag === -1 || ctrl.setPage(pag)"><a href="" data-ng-if="pag !== -1">{{pag}}</a> <span data-ng-show="pag === -1">...<span></li>
      <li class="next" data-ng-click="tinkCurrentPage===ctrl.pages || ctrl.setNext()" data-ng-class="{disabled:tinkCurrentPage===ctrl.pages}" ng-disabled="tinkCurrentPage===ctrl.pages"><a href="" title=""><span>Volgende</span></a></li>
    </ul>
  </div>
</div>