<div>
<div class="bar">
  <div class="bar-section">
    <!-- <div class="bar-section-left">
      <strong>{{numFirst}} - {{numLast}}</strong> van {{itemLength}}
    </div> -->
    <ul class="bar-section-right">
      <li>
        <button ng-show="hasActions()" tink-popover tink-popover-group="option-table-1" tink-popover-template="templates/tinkTableAction.html">Acties <i class="fa fa-caret-down"></i></button>
      </li>
      <li>
        <button tink-popover tink-popover-group="option-table" tink-popover-template="templates/tinkTableShift.html">Kolommen <i class="fa fa-caret-down"></i></button>
      </li>
    </ul>
  </div>
</div>

<div ng-transclude></div>

<div data-ng-if="ngModel.length === 0" class="table-message">{{tinkEmptyMessage}}</div>
</div>

