<!-- Top information bar for table -->

<div class="bar">
  <div class="bar-section">
    <!-- <div class="bar-section-left">
      <strong>{{numFirst}} - {{numLast}}</strong> van {{itemLength}}
    </div> -->
    <ul class="bar-section-right">
      <li>
        <button data-ng-if="hasAction() && selectedCheck" tink-popover tink-popover-group="option-table" tink-popover-template="templates/tinkTableAction.html">Acties <i class="fa fa-caret-down"></i></button>
      </li>
      <li>
        <button data-ng-if="hasReoder()" tink-popover tink-popover-group="option-table" tink-popover-template="templates/tinkTableShift.html">Kolommen <i class="fa fa-caret-down"></i></button>
      </li>
    </ul>
  </div>
</div>


<!-- placeholder for table -->
<table id='theInteractiveTable' tink-sort-table="ngModel" tink-sort="false" tink-callback="sortHeader($property,$order,$type)" class="table-interactive" tink-pagination-key="directivePag">
<thead>
</thead>
<tbody>
</tbody>
</table>

<!--<tink-pagination tink-pagination-id="directivePag" tink-current-page="nums" tink-total-items="200" tink-items-per-page="10" tink-items-per-page-values="perpageValue"></tink-pagination>-->