<div class="popover-menu-list">
  <ul ng-if="!actionConf.menu" >
  <li  data-ng-repeat="action in tinkActions | tinkSlice:5 | orderBy:'+order'"  ng-disabled='checked().length === 0 || (action.single && checked().length > 1)'  data-ng-click="actionCallBack(action)">
   <i class="fa {{action.icon}} fa-fw"></i>
      <span >{{action.name}}</span>
  </li>
</ul>

<ul ng-if="actionConf.menu">
  <li data-ng-repeat="action in tinkActions | orderBy:'+order' | filter: { master: true }" ng-disabled='checked().length === 0 || (action.single && checked().length > 1)'  data-ng-click="actionCallBack(action)">
   <i class="fa {{action.icon}} fa-fw"></i>
      <span>{{action.name}}</span>
  </li>
  <hr/>
  <li data-ng-repeat="action in tinkActions | orderBy:'+order' | filter: { master: false }" ng-disabled='checked().length === 0 || (action.single && checked().length > 1)' data-ng-click="actionCallBack(action)">
   <i class="fa {{action.icon}} fa-fw"></i>
      <span>{{action.name}}</span>
  </li>
</ul>
</div>





