<ul ng-if="!actionConf.menu" class="popover-list-buttons ng-scope">
  <li data-ng-repeat="action in tinkActions | tinkSlice:5">
   <i class="fa {{action.icon}} fa-fw"></i>
      <span data-ng-click="actionCallBack(action)">{{action.name}}</span>
  </li>
</ul>

<ul ng-if="actionConf.menu" class="popover-list-buttons ng-scope">
  <li data-ng-repeat="action in tinkActions">
   <i class="fa {{action.icon}} fa-fw"></i>
      <span data-ng-click="actionCallBack(action)">{{action.name}}</span>
  </li>
</ul>
