<h1>view 1 </h1>
<tink-interactive-table tink-actions="actions" class="table-interactive" tink-checked="boxChecked($data,$checked)" tink-loading="ct.loading" tink-headers="headers" tink-data="data.content" tink-empty-message="Geen resultaten" tink-hide-background-of-selected-rows="false">
  <table tink-sort-table="data.content" tink-callback="sorted($property,$order,$type)" tink-asc="ctrl.asc" tink-sort-field="firstname">
    <thead>
      <tr>
        <th ng-repeat="view in tinkHeaders" tink-sort-header="{{view.sort}}">{{ view.alias }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="$parent.$parent.load(view)" ng-repeat='view in tinkData'>
        <td>{{ view.firstname | date:'dd/MM/yyyy' }}</td>
        <td>{{ view.lastname }}</td>
        <td>{{ view.username }}</td>
      </tr>
    </tbody>
  </table>

  <tink-pagination  tink-current-page="$parent.ct.nums" tink-change="$parent.changed(type,value,next)" tink-total-items="$parent.ct.totalitems" tink-items-per-page="$parent.ct.numpp"></tink-pagination>

</tink-interactive-table>