<!doctype html>
<html ng-app="tink.interactivetable">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <!-- endbower -->
</head>
<body ng-controller="ctrl">

<div class="container">
  <h1>Interactive table</h1>
  <hr>
  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Interactive table</h1>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <tink-interactive-table ng-model="data" data-allow-column-reorder="true" headers="headers" actions="actions" items-per-page="pages" class="table-interactive"></tink-interactive-table>
        </div>
      </div>
    </div>
  </section>
  <button ng-click="addData()">add row</button>
  <button ng-click="changeData()">change row</button>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
<script src="bower_components/Sortable/Sortable.js"></script>
<script src="bower_components/tink-popover-angular/dist/tink-popover-angular.js"></script>
<!-- endbower -->

<script src="scripts/directives/tink-pagination-angular.js"></script>

<script>
  var myApp;
    try {
      myApp = angular.module('tink.interactivetable');
    } catch (e) {
      myApp = angular.module('tink.interactivetable', ['ngLodash','tink.popover']);
    }
  myApp.controller('ctrl', ['$scope', function(scope) {
     // Override default items per page
    scope.pages = '5, 10, 25';

    // Data model
    scope.data = [
      {
        firstname: 'Jasper',
        lastname: 'Van Proeyen',
        username: '@trianglejuice'
      },
      {
        firstname: 'Tom',
        lastname: 'Wuyts',
        username: '@pxlpanic'
      },
      {
        firstname: 'Kevin',
        lastname: 'De Mulder',
        username: '@clopin'
      },
      {
        firstname: 'Vincent',
        lastname: 'Bouillart',
        username: '@BouillartV'
      },
      {
        firstname: 'Tom',
        lastname: 'Hermans',
        username: '@tomhermans'
      },
      {
        firstname: 'Lieven',
        lastname: 'Van Gestel',
        username: '@lievenvg'
      },
      {
        firstname: 'Jasper',
        lastname: 'Van Proeyen',
        username: '@trianglejuice'
      },
      {
        firstname: 'Tom',
        lastname: 'Wuyts',
        username: '@pxlpanic'
      },
      {
        firstname: 'Kevin',
        lastname: 'De Mulder',
        username: '@clopin'
      },
      {
        firstname: 'Vincent',
        lastname: 'Bouillart',
        username: '@BouillartV'
      },
      {
        firstname: 'Tom',
        lastname: 'Hermans',
        username: '@tomhermans'
      },
      {
        firstname: 'Lieven',
        lastname: 'Van Gestel',
        username: '@lievenvg'
      }
    ];

    // The headers you want to show and whether they are already visible in the table
    scope.headers = [
      {
        field: 'firstname',
        alias: 'Voornaam',
        checked: true
      },
      {
        field: 'lastname',
        alias: 'Achternaam',
        checked: false
      },
      {
        field: 'username',
        alias: 'Gebruikersnaam',
        checked: true
      }
    ];

    // Some actions that become available when you check one or multiple rows
   scope.actions = [
      {
        name: 'remove',
        callback: function(items) {
          angular.forEach(items, function(val) {
            scope.data.splice(scope.data.indexOf(val),1);
          });
        }
      }
    ];

  }]);
</script>

</body>
</html>
