<!doctype html>
<html ng-app="tink.interactivetable">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <!-- endbower -->
</head>
<body ng-controller="ctrl">

<div class="container">
  <h1>Interactive table</h1>
  <hr>
  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Interactive table</h1>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </section>
  <button ng-click="addData()">add row</button>
  <button ng-click="changeData()">change row</button>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
<script src="bower_components/Sortable/Sortable.js"></script>
<script src="bower_components/tink-popover-angular/dist/tink-popover-angular.js"></script>
<script src="bower_components/tink-helper-safe-apply-angular/dist/tink-helper-safe-apply-angular.js"></script>
<script src="bower_components/tink-sort-table-angular/dist/tink-sort-table-angular.js"></script>
<!-- endbower -->
<div tink-inter>test</div>
<script src="scripts/directives/tink-pagination.js"></script>
<script src="scripts/directives/tink-reorder.js"></script>


<tink-interactive-table tink-pagination-key="pag1" ng-model="data" data-allow-column-reorder="true" tink-headers="headers" tink-column-reorder="false" tink-actions="actions" items-per-page="pages" class="table-interactive"></tink-interactive-table>

<tink-pagination tink-pagination-id="pag1" tink-current-page="nums" tink-change="changed" tink-total-items="200" tink-items-per-page="10" tink-items-per-page-values="perpageValue"></tink-pagination>


<button ng-click="changenums()">klick hier</button>
<script>
  var myApp;
    try {
      myApp = angular.module('tink.interactivetable');
    } catch (e) {
      myApp = angular.module('tink.interactivetable', ['tink.popover','tink.sorttable']);
    }
  myApp.controller('ctrl', ['$scope','$timeout', function(scope,timeout) {
     // Override default items per page
    scope.pages = '5, 10, 25';

    scope.changed = function(ind,next){
      timeout(function() {
        scope.data = [
          {
            firstname: 'Bert',
            lastname: 'Van Proeyen',
            username: '@trianglejuice'
          },
          {
            firstname: 'Lisa',
            lastname: 'Wuyts',
            username: '@pxlpanic'
          },
          {
            firstname: 'DEon',
            lastname: 'De Mulder',
            username: '@clopin'
          },
          {
            firstname: 'Vincent',
            lastname: 'Bouillart',
            username: '@BouillartV'
          },
          {
            firstname: 'Lisa',
            lastname: 'Hermans',
            username: '@tomhermans'
          },
          {
            firstname: 'flippo',
            lastname: 'Van Gestel',
            username: '@flippovg'
          },
          {
            firstname: 'Bert',
            lastname: 'Van Proeyen',
            username: '@trianglejuice'
          },
          {
            firstname: 'Tom',
            lastname: 'Wuyts',
            username: '@pxlpanic'
          },
          {
            firstname: 'DEon',
            lastname: 'De Mulder',
            username: '@clopin'
          },
          {
            firstname: 'Vincent',
            lastname: 'Bouillart',
            username: '@BouillartV'
          },
          {
            firstname: 'Tom',
            lastname: 'Hermans',
            username: '@tomhermans'
          },
          {
            firstname: 'flippo',
            lastname: 'Van Gestel',
            username: '@flippovg'
          }
        ];
      }, 250);
    }
    // Data model
    scope.data = [
      {
        firstname: 'Jasper',
        lastname: 'Van Proeyen',
        username: '@trianglejuice'
      },
      {
        firstname: 'Tom',
        lastname: 'Wuyts',
        username: '@pxlpanic'
      },
      {
        firstname: 'Kevin',
        lastname: 'De Mulder',
        username: '@clopin'
      },
      {
        firstname: 'Vincent',
        lastname: 'Bouillart',
        username: '@BouillartV'
      },
      {
        firstname: 'Tom',
        lastname: 'Hermans',
        username: '@tomhermans'
      },
      {
        firstname: 'Lieven',
        lastname: 'Van Gestel',
        username: '@lievenvg'
      },
      {
        firstname: 'Jasper',
        lastname: 'Van Proeyen',
        username: '@trianglejuice'
      },
      {
        firstname: 'Tom',
        lastname: 'Wuyts',
        username: '@pxlpanic'
      },
      {
        firstname: 'Kevin',
        lastname: 'De Mulder',
        username: '@clopin'
      },
      {
        firstname: 'Vincent',
        lastname: 'Bouillart',
        username: '@BouillartV'
      },
      {
        firstname: 'Tom',
        lastname: 'Hermans',
        username: '@tomhermans'
      },
      {
        firstname: 'Lieven',
        lastname: 'Van Gestel',
        username: '@lievenvg'
      }
    ];

    // The headers you want to show and whether they are already visible in the table
    scope.headers = [
      {
        field: 'firstname',
        alias: 'Voornaam',
        checked: true,
        sort:true
      },
      {
        field: 'lastname',
        alias: 'Achternaam',
        checked: false,
        sort:true
      },
      {
        field: 'username',
        alias: 'Gebruikersnaam',
        checked: true
      }
    ];
    scope.nums=3;
    scope.changenums = function(){
      scope.nums = scope.nums+1;
    }
    scope.perpageValue=[10,20,25,30,45]

    // Some actions that become available when you check one or multiple rows
   scope.actions = [
      {
        name: 'remove',
        callback: function(items) {
          angular.forEach(items, function(val) {console.log('ohoho',scope.data.indexOf(val))
            scope.data.splice(scope.data.indexOf(val),1);
          });
        }
      }
    ];

  }]);
</script>

</body>
</html>
