<!doctype html>
<html ng-app="tink.interactivetable">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <!-- endbower -->
  <style>
/*.indeterminate{
  content: '\f068';
  line-height: 1.4;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}*/
</style>
</head>
<body ng-controller="ctrl as ct">

<div class="container">
    <br /><br /><br />
    <tink-interactive-table tink-actions="actions" class="table-interactive" tink-checked="boxChecked($data,$checked)" tink-loading="ct.loading" tink-headers="headers" tink-data="data.content" tink-empty-message="Geen resultaten" tink-hide-background-of-selected-rows="false">
        <table tink-sort-table="data.content" tink-callback="sorted($property,$order,$type)" tink-asc="ctrl.asc" tink-sort-field="firstname">
            <thead>
                <tr>
                    <th ng-repeat="view in tinkHeaders" tink-sort-header="{{view.sort}}">{{ view.alias }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="$parent.$parent.load()" ng-repeat='view in tinkData'>
                    <td>{{ view.firstname | date:'dd/MM/yyyy' }}</td>
                    <td>{{ view.lastname }}</td>
                    <td>{{ view.username }}</td>
                </tr>
            </tbody>
        </table>
        <tink-pagination tink-current-page="$parent.ct.nums" tink-change="$parent.changed(type,value,next)" tink-total-items="$parent.ct.totalitems" tink-items-per-page="$parent.ct.numpp"></tink-pagination>
    </tink-interactive-table>
</div>
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
<script src="bower_components/Sortable/Sortable.js"></script>
<script src="bower_components/tink-helper-safe-apply-angular/dist/tink-helper-safe-apply-angular.js"></script>
<script src="bower_components/tink-pagination-angular/dist/tink-pagination-angular.js"></script>
<script src="bower_components/tink-popover-angular/dist/tink-popover-angular.js"></script>
<script src="bower_components/tink-sort-table-angular/dist/tink-sort-table-angular.js"></script>
<script src="bower_components/tink-tooltip-angular/dist/tink-tooltip-angular.js"></script>
<!-- endbower -->
<script src="scripts/directives/tink-interactive-table.js"></script>

<script>
  var myApp;
    try {
      myApp = angular.module('tink.interactivetable');
    } catch (e) {
      myApp = angular.module('tink.interactivetable', ['tink.popover','tink.pagination','tink.sorttable','tink.tooltip','tink.safeApply']);
    }
  myApp.controller('ctrl', ['$scope','$timeout', function(scope,timeout) {
    var ctrl = this;
      ctrl.nums = 2;
      ctrl.totalitems = 1024;
      ctrl.numpp = 5;
      ctrl.asc = true;
      scope.data = {};
      scope.load=function(){
        console.log('clicked')
      }
      scope.changed = function(type,value,fn){
        fn();
      }
      scope.sorted = function(property,order,type){
        console.log('sorted',property,order,type);
      }
      scope.boxChecked = function($data,c){
        console.log($data,c)
      }
      ctrl.loading = false;
      scope.data.content = [
        {
          firstname: 'Tom',
          lastname: 'Wuyts',
          username: '@pxlpanic'
        },
        {
          firstname: 'Jasper',
          lastname: 'Van Proeyen',
          username: '@trianglejuice'
        }
      ];
      scope.actions = [
        {
          name: 'remove',
          callback: function(items) {
            angular.forEach(items, function(val) {
              scope.data.content.splice(scope.data.content.indexOf(val),1);
            });
          },
          order:1,
          master:true,
          icon:'fa-close'
        },{
          name: 'add',
          callback: function(items) {
            angular.forEach(items, function(val) {
              // scope.data.content.splice(scope.data.content.indexOf(val),1);
              scope.data.content.push({
                firstname: 'New first',
                lastname: 'New last',
                username: '@newuser'
              })
              console.log('Added ' + val.firstname);
            });
          },
          order:2,
          master:true,
          icon:'fa-edit'
        },{
          name: 'search',
          callback: function(items) {
            angular.forEach(items, function(val) {
              // scope.data.content.splice(scope.data.content.indexOf(val),1);
              console.log('Searched ' + val.firstname);
            });
          },
          order:100,
          master:true,
          icon:'fa-search'
        },
        {
          name: 'Jens',
          callback: function(items) {console.log('callback go');
            angular.forEach(items, function(val) {
              // scope.data.content.splice(scope.data.content.indexOf(val),1);
              console.log('Did something with ' + val.firstname);
            });
          },
          order:1,
          master:false,
          icon:'fa-arrows-h',
          single:true
        },
        {
          name: 'alwaysV',
          callback: function(items) {
            angular.forEach(items, function(val) {
              // scope.data.content.splice(scope.data.content.indexOf(val),1);
              console.log('Did something else with ' + val.firstname);
            });
          },
          order:5,
          master:false,
          icon:'fa-calculator',
          alwaysEnabled:true
        }
      ];
     scope.actions = [{
           name: 'Verwijderen f', // the name of the actions
           callback: function (items) {
               // here you are going to write what happen when they clicked on the button.
               // The items variable contains the items that are checked.
           },
           order: 0, // The order the button is viewed in the bar
           master: false, // If the button is a master button or not ! this value is required.
           icon: 'fa-remove' // The icon ('font-awesome') thats going to be showed. this is required !
       }
       ,
       {
           name: 'Toevoegen f', // the name of the actions
           callback: function (items) {
               // here you are going to write what happen when they clicked on the button.
               // The items variable contains the items that are checked.
           },
           order: 0, // The order the button is viewed in the bar
           master: false, // If the button is a master button or not ! this value is required.
           icon: 'fa-plus'// The icon ('font-awesome') thats going to be showed. this is required !
       },
       {
           name: 'Wijzigen f', // the name of the actions
           callback: function (items) {
               // here you are going to write what happen when they clicked on the button.
               // The items variable contains the items that are checked.
           },
           order: 2, // The order the button is viewed in the bar
           master: false, // If the button is a master button or not ! this value is required.
           icon: 'fa-edit' // The icon ('font-awesome') thats going to be showed. this is required !
       },
       {
           name: 'Toevoegen t', // the name of the actions
           callback: function (items) {
               // here you are going to write what happen when they clicked on the button.
               // The items variable contains the items that are checked.
           },
           order: 0, // The order the button is viewed in the bar
           master: true, // If the button is a master button or not ! this value is required.
           icon: 'fa-plus'// The icon ('font-awesome') thats going to be showed. this is required !
       },
        {
           name: 'pl t', // the name of the actions
           callback: function (items) {
               // here you are going to write what happen when they clicked on the button.
               // The items variable contains the items that are checked.
           },
           order: 0, // The order the button is viewed in the bar
           master: true, // If the button is a master button or not ! this value is required.
           icon: 'fa-plus'// The icon ('font-awesome') thats going to be showed. this is required !
       },
       {
           name: 'Wijzigen t', // the name of the actions
           callback: function (items) {
               // here you are going to write what happen when they clicked on the button.
               // The items variable contains the items that are checked.
           },
           order: 2, // The order the button is viewed in the bar
           master: true, // If the button is a master button or not ! this value is required.
           icon: 'fa-edit' // The icon ('font-awesome') thats going to be showed. this is required !
       }
       ];
      scope.headers = [{
        alias:'Voornaam',
        sort:'firstname',
        checked:true
      },{
        disabled:true,
        alias:'Achternaam',
        checked:true
      },{
        alias:'Gebruikersnaam',
        sortalias:'User',
        sort:'',
        checked:true
      }];
  }]);
</script>

</body>
</html>